@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap");
@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.title {
  padding-top: 50px;
}

/* imagens responsiva*/
img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 100rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid-template-areas {
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 75px 89vh 50px;
  grid-template-areas:
    "logo nav nav"
    "sidenav content content"
    "sidenav footer footer";
}

.item {
  text-align: center;
  font-size: 1.5em;
}

.logo {
  grid-area: logo;
  background-color: #3f3c3c;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
}

.sidenav {
  grid-area: sidenav;
  background-color: #3f3c3c;
  color: #fff;
}

.footer {
  grid-area: footer;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
